@import "../CommonStyles.css";

:root {
    --primary-color: #004f7c;
    --secondary-color: #61d4b3;
    --background-color: #f9f9f9;
    --text-color: #333;
    --focus-color: #004f7c;
}

.content {
    margin: 1% auto 0;
    padding: 20px;
    width: 50%;
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.content h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin-top: 30px;
    margin-bottom: 15px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 20px;
}

.content ul {
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 20px;
}

.content ul li {
    font-size: 1.2em;
    color: var(--text-color);
    margin-bottom: 10px;
}

.content a {
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 1px solid var(--secondary-color);
    transition: color 0.3s, border-bottom-color 0.3s;
}

.content a:hover {
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
}

/* Mobile styles */
@media (max-width: 600px) {
    .content {
        padding: 15px;
        width: 90%;
    }

    .content h1 {
        font-size: 2em;
    }

    .content h2 {
        font-size: 1.5em;
    }

    .content p,
    .content ul li {
        font-size: 1em;
    }
}