.container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.wrapper {
    padding: 100px 0;
    display: flex;
    min-height: calc(100% - 607px - 60px);
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
}

.widgets {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    font-family: "SUSE", sans-serif;
}

.widget {
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
}

h1.widgetTitle {
    margin: 0;
    padding: 0;
    color: #61d4b3;
    font-size: .55em;
    text-align: left;
}

.widget p {
    font-size: .95em;
    margin: 0;
    padding: 0;
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        padding: 15px;
        width: 90%;
    }

    .container h1 {
        font-size: 2.2em;
    }

    .container input,
    .container textarea {
        font-size: 0.9em;
    }

    .container button {
        font-size: 1em;
    }
}

/* Mobile styles */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        width: 90%;
    }

    .container h1 {
        font-size: 2em;
    }

    .container input,
    .container textarea {
        font-size: 0.9em;
    }

    .container button {
        font-size: 1em;
    }
}