@import "../CommonStyles.css";

.quick-link {
    text-align: center;
    font-size: 1em;
    color: white;
    text-decoration: underline;
}

.quick-link:hover {
    color: #61d4b3;
}

/* Mobile styles */
@media (max-width: 600px) {
    .quick-link {
        font-size: 0.9em;
    }
}