footer {
    margin: 5vh 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #004f7c;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
    font-size: 1em;
    top: 0;
    border-top: 2px solid #213547;
}

footer .quick-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

footer .quick-links a {
    color: #61d4b3;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    transition: color 0.3s;
}

footer .quick-links a:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer p {
    font-size: .75em;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

footer p > a {
    color: #61d4b3;
    text-decoration: none;
}

footer p > a:hover {
    color: #ffffff;
    text-decoration: underline;
}

@media (min-width: 601px) {
    footer .quick-links a[href="/"]:before {
        content: "Home";
    }

    footer .quick-links a[href="/contact-us"]:before {
        content: "Contact Us";
    }

    footer .quick-links a[href="/our-customers"]:before {
        content: "Our Customers";
    }
}

/* Mobile styles */
@media (max-width: 600px) {
    footer .quick-links {
        align-items: center;
    }

    footer .quick-links a[href="/"]:before {
        content: url("/public/assets/icons/home-teal.png");
    }

    footer .quick-links a[href="/contact-us"]:before {
        content: url("/public/assets/icons/contact-teal.png");
    }

    footer .quick-links a[href="/our-customers"]:before {
        content: url("/public/assets/icons/customers-teal.png");
    }

    footer .quick-links a {
        padding: 1vh 2vw;
    }
}