.hero {
    display: flex;
    flex-direction: row; /* Place items side by side */
    align-items: center;
    margin: 2% 10% 10%;
    justify-content: center;
    border-radius: 15px;
}

.hero img {
    margin-right: 20px; /* Add some space between the image and the content */
}

.hero-content {
    display: flex;
    flex-direction: column; /* Stack text content vertically */
    align-items: center;
}

.hero a {
    background-color: #61d4b3;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
}

.hero a:hover {
    background-color: #004f7c;
    transform: scale(1.05);
    color: white;
}

/* Tablet styles */
@media (max-width: 1366px) {
    .hero {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }

    .hero img {
        margin-right: 0;
        margin-bottom: 10px;
        width: 90%;
    }

    .hero a {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}

/* Mobile styles */
@media (max-width: 600px) {
    .hero {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }

    .hero img {
        margin-right: 0;
        margin-bottom: 10px;
        width: 90%;
    }

    .hero a {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}