.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding-bottom: 1%;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    transition: background-color 0.3s;
    animation: slide-in 0.3s ease-in-out;
}

.navbar-item a[href="/"]:before {
    content: "A1";
}

.navbar-item a[href="/contact-us"]:before {
    content: "Contact Us";
}

.navbar-item a[href="/our-customers"]:before {
    content: "Our Customers";
}

@media (min-width: 601px) {
    .navbar.scrolled {
        animation: slide-in 0.3s ease-in-out;
        background-color: #213547;
        background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    }
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar-item a:first-child {
    flex-direction: column;
    justify-content: left;
}

.navbar-item a {
    font-size: 1em;
    flex-direction: row;
    color: #61d4b3;
    text-decoration: none;
    padding: 0 2vw;
}

.navbar-item a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-item a.active {
    color: #ffffff;
    text-decoration: underline;
}

.transition {
    transition: all 0.3s ease;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Mobile styles */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 0 5px 5px;
    }

    .navbar-list {
        flex-direction: row;
        gap: 5vw;
        border: 5px solid #213547;
        border-top: none;
        background-color: #61d4b3;
        border-radius: 0 0 10px 10px;
    }

    .navbar-item {
        padding-top: 1vh;
        width: 100%;
        text-align: center;
    }

    .navbar-item a[href="/"]:before {
        content: url("/public/assets/icons/home-dark-blue.png");
    }

    .navbar-item a[href="/contact-us"]:before {
        content: url("/public/assets/icons/contact-dark-blue.png");
    }

    .navbar-item a[href="/our-customers"]:before {
        content: url("/public/assets/icons/customers-dark-blue.png");
    }
}