.navbar {
    display: flex;
    justify-content: space-between; /* Space between logo and links */
    align-items: center; /* Center items vertically */
    background-color: #004f7c;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
    border-radius: 5px;
    padding: 20px 30px; /* Increased padding */
    border: 1px solid #ffffff;
    border-top: none;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar-item:not(:first-child) {
    margin-top: 15px;
}

.navbar-item a {
    color: #61d4b3;
    text-decoration: none;
}

.navbar-item a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.navbar-item a.active {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.transition {
    transition: all 0.3s ease;
}

.logo {
    font-size: 2.2em; /* Increased font size */
    color: #ffffff;
    text-decoration: none;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-radius: 5%;
    margin-right: 20px; /* Adjusted margin */
    padding: 5px;
}

/* Mobile styles */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        padding: 5px 10px; /* Reduced padding */
    }

    .navbar-list {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        align-items: center; /* Center links horizontally */
    }

    .navbar-item {
        width: 100%;
        text-align: center; /* Center text within each item */
    }

    .navbar-item a {
        display: block;
        width: 100%;
        padding: 5px 0; /* Reduced padding */
        font-size: 0.9em; /* Reduced font size */
    }

    .logo {
        font-size: 1.8em; /* Reduced font size */
        border: none;
    }
}